@import './_mixins/colors';

.main{
    // border: 1px solid black;

    &-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 6rem 1rem;

        margin: 0 auto;
        padding: 50px 0;
        width: 90%;

        // border: 1px solid red;

        &-card{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            height: 400px;
            width: 220px;
            padding: 20px;

            text-align: center;

            border-radius: 30px;
            border: 3px solid $borda;

            background-color: $amarelo;

            transition: 0.5s ease-in-out;


            &:hover{
                transform: scale(1.05);
	            cursor: pointer;
                // background-color: #fccb2c;
            }

            h3{
                border: 1px solid $preto;
                border-radius: 10px;
                padding: 10px 5px;
            }

            img{
                width: 80px;
                height: 80px;
            }

            &-power{
                border: 1px solid $preto;
                border-radius: 10px;
                padding: 10px 5px;

                width: 100%;

                &-grama{
                    background-color: $verde;
                }

                &-fogo{
                    background-color: $vermelho;
                }

                &-agua{
                    background-color: $azul;
                }

                &-veneno{
                    background-color: $roxo;
                }
            }

            &-info{
                overflow-y: scroll;
                // border: 1px solid #C29905;
                height: 100px;
                color: #202956;
                border-radius: 8px;
                padding: 5px;

                scrollbar-width: thin;
                scrollbar-color: #C29905 transparent;

                p{
                    text-align: center;
                }
            }
        }

    }
}


// telas menores pc
@media screen and (max-width: 1200px){
    .main{
        // background-color: red;

        &-container{
            width: 95%;
        }
    }
}


// tablet
@media screen and (max-width: 700px) {
    .main{
        // background-color: blue;
    
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 100px 0;
            // justify-content: space-between;
    
            width: 80%;
    
            // border: 1px solid red;
    
            &-card{
                height: 600px;
                width: 100%;
                padding: 20px;
    
                h3{
                    width: 100%;
                    font-size: 1.3rem;
                    padding: 20px 0;
                }
    
                img{
                    width: 120px;
                    height: 120px;
                }
    
                &-power{
                    padding: 15px 0;
                    width: 100%;
                    font-size: 1.3rem;
                }
    
                &-info{
                    height: 180px;
                    padding: 10px;
                    font-size: 1.5rem;
                }
            }
    
        }
    }
}



// mobile
@media screen and (max-width: 500px) {
    .main{
        // background-color: green;
    
        &-container{
            width: 70%;
    
            // border: 1px solid red;
    
            &-card{
                height: 500px;
                padding: 30px;
    
                h3{
                    padding: 10px 0;
                    font-size: 1.1rem;
                }
    
                img{
                    width: 100px;
                    height: 100px;
                }
    
                &-power{
                    padding: 10px 0;
                    font-size: 1.1rem;
                }
    
                &-info{
                    height: 150px;
                    padding: 5px;
                    font-size: 1.1rem;
                }
            }
    
        }
    }
}





